{include file="public/header"/}
<div class="header">
    <div class="rowFluid">
        <div class="span2 col-md-12">
            <div class="logo">
                <a href="/" title="返回首页">
                <img src="__IMG__/logo.png" alt="深圳网站建设公司_深圳网站设计_深圳网站制作_深圳免费网站制作" /></a>
            </div>
        </div>
        {include file="public/nav"/}
<!--         <div class="span2">

            <div class="login" id="_userlogin">
                <li class="toptel" style="margin-right:0px;">
                    <img src="__IMG__/dongtaitel.gif">
                    <img src="__IMG__/top-tel.png">
                </li>
            </div>
        </div> -->
    </div>
</div>
<!-- <div class="aside">
    <ul>

        <li><a href="#" target="_blank"><img src="__IMG__/057.png" alt="人工服务" />客服</a></li>
        <li class="consulting"><a href="#" title="建站在线客服"><span></span><span></span><span></span><img src="__IMG__/059.png" class="img1" alt="建站在线客服" /><img src="__IMG__/061.png" class="img2" alt="建站在线客服" />咨询</a></li>
        <li> <a href="help.html"><img src="__IMG__/060.png" alt="建站帮助中心" />帮助</a> </li>
    </ul>
</div> -->
<div class="consulting_box">
    <div class="title">
        <div class="title_t1">RELATEED CONSULTING</div>
        <div class="title_t2">相关咨询 </div>
    </div>
    <div class="consulting_type">
        <div class="consulting_type_title">QQ通讯客服</div>
        <ul>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="响应式建站咨询"> <img src="__IMG__/062.png" class="img1" alt="网站建设" /><img src="__IMG__/063.png" class="img2" alt="响应式网站咨询" />企业QQ客服 </a> </li>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="建站平台加盟咨询"> <img src="__IMG__/062.png" class="img1" alt="建站平台" /><img src="__IMG__/063.png" class="img2" alt="建站平台代理咨询" />加盟咨询 </a> </li>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="响应式网站定制"> <img src="__IMG__/062.png" class="img1" alt="响应式网站定制" /><img src="__IMG__/063.png" class="img2" alt="响应式网站定制" />定制咨询 </a> </li>
        </ul>
        <div class="consulting_type_title">电话通讯客服</div>
        <ul>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 服务热线：40086 15257 </a> </li>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 固定电话：023-81301630 </a> </li>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 售前咨询：189-8340-1091 </a> </li>
        </ul>

        <div class="time">服务时间：9:30-18:00</div>

    </div>
    <div class="problem">
        <div class="problem_title">你可能遇到了下面的问题</div>
        <ul>
            <li><span></span><a href="/help/seo/41.html" title="404页面该怎么做？">404页面该怎么做？</a></li>
            <li><span></span><a href="/help/seo/40.html" title="SEO菜鸟需要掌握哪些基本SEO技巧？">SEO菜鸟需要掌握哪些基本SEO技巧？</a></li>
            <li><span></span><a href="/help/seo/39.html" title="几大搜索引擎的网站登录入口">几大搜索引擎的网站登录入口</a></li>
            <li><span></span><a href="/help/seo/38.html" title="手把手教你做百度推广">手把手教你做百度推广</a></li>
            <li><span></span><a href="/help/seo/37.html" title="页面无用时间信息导致网页不被抓取">页面无用时间信息导致网页不被抓取</a></li>

        </ul>
    </div>
    <!-- <div class="close"> <img src="__IMG__/close.png" alt="关闭右侧工具栏" /> </div> -->
</div>

<div class="page">
    <div class="rowFluid">
        <div class="span12">
            <div class="main">
                <div class="banner">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="owl-demo" style="height:788px;">
                                {volist name="text_shuff_list" id="item" key="k"}
                                    <div class="item">
                                        <h3 class="banner_title">{$item.title}</h3>
                                        <div class="banner_text">{$item.textcontent}</div>
                                        {if $k eq 1}
                                            <div class="banner_button">
                                                <a href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" target="_blank" title="详细咨询">了解详情</a>
                                                <a href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" target="_blank" title="详细咨询">马上咨询</a>
                                            </div>
                                        {elseif $k eq 2}
                                            <div class="banner_button"  class="active"> <a href="http://www.93sucai.com" class="active" title="立即体验">立即体验</a> </div>
                                        {else}
                                            <div class="banner_button"> <a href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" target="_blank" title="详细咨询">马上咨询</a></div>
                                        {/if}

                                    </div>
                                {/volist}

                            </div>
                        </div>
                    </div>
                    <ul class="platform_advantage_bg_z">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div id="container" class="mpage">
                        <div id="anitOut" class="anitOut"></div>
                    </div>
                </div>




                <div class="service-action back-white">
                    <div class="auto">
                        <ul class="service-action-ul clearfix">
                            {volist name="features_list" id="item"}
                            <li>
                                <a href="about.html" target="_blank">
                                    <div class="service-action-box">
                                        <img class="service-action-img" src="{$item.icon}" width="100px;" height="120px">
                                        <div class="service-action-text">
                                            <p class="service-action-title">{$item.title}</p>
                                            <div class="service-action-info">{$item.description}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {/volist}

                        </ul>
                    </div>
                </div>


                <div class="kzf-mod-product" style="background:rgba(156, 255, 218, 0.36)">
                    <div class="rowFluid">
                        <div class="container">
                            <div class="kzf-mod-product-header wow fadeInUp">
                                <h1 class="kzf-mod-product-title">产品与服务</h1>
                                <p class="kzf-mod-product-brief">我们提供数字平台建设与数字产品设计运营的全产业链服务，从设计制作到开发运营，一站式帮您搞定。</p>
                            </div>
                            <div class="kzf-mod-product-content">
                                {volist name="service_list" id="item"}
                                <div class="span3 col-sm-6">
                                    <div class="kzf-mod-product-list wow fadeInLeft">
                                        <img src="{$item.icon}" alt="{$item.title}" />
                                        <div class="kzf-mod-product-list-title">{$item.title}</div>
                                        {volist name="$item['description']" id="sitem"}
                                             <p>{$sitem}</p>
                                        {/volist}

                                    </div>
                                </div>
                                {/volist}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="platform_advantage">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="container">
                                <div class="all_title2 wow fadeInUp">
                                    <h3 class="title">jonny建站优势</h3>
                                    <div class="text">便宜 优惠</div>
                                </div>
                                <div class="rowFluid">
                                    <div class="platform_advantage_content">
                                        {volist name="advantage_list" id="item" key="k"}
                                        <div class="span4 col-xm-6 col-xs-12 wow {if $k eq 1 or $k eq 4}bounceInLeft{elseif $k eq 2 or $k eq 5}bounceIn{else}bounceInRight{/if}">
                                            <div class="platform_advantage_list">
                                                <div class="platform_advantage_img"> <img src="{$item.icon}" alt="{$item.title}" /> </div>
                                                <div class="platform_advantage_brief">
                                                    <div class="brief_title">{$item.title}</div>
                                                    <div class="brief_text">{$item.description}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {/volist}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="cloud-product-box cloud-service-bgcolor bgscroll1" style="transition: background-position 0.3s linear; background-position: 50% -106.5px;">
                    <div class="auto">
                        <div class="cloud-product">
                            <p class="cloud-product-title"><span>丰富的服务让云端充满更多可能性</span></p>
                            <p class="cloud-product-explain">秀探网联合第三方服务供应商，丰富全面的服务与技术支持满足您业务多方位需求</p>
                            <ul class="cloud-service-list clearfix">
                                {volist name="product_list" id="item" key="k"}
                                <li>
                                    <a href="JavaScript:;" target="_blank">
                                        <div class="cloud-service-sligen cloud-service-sligen-from">

                                            <span class="cloud-service-bg{$k}"></span>
                                            <p class="cloud-service-name">{$item.title}</p>
                                            <div class="cloud-service-info">
                                                {$item.description}
                                            </div>
                                        </div>
                                        <div class="cloud-service-sligen cloud-service-sligen-back">
                                            <span class="cloud-service-bg{$k}"></span>
                                            <p class="cloud-service-name">{$item.title}</p>
                                            <div class="cloud-service-info">
                                                {$item.description}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="news_center">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="container">
                                <div class="all_title1 wow fadeInUp">
                                    <h3 class="title">新闻中心</h3>
                                    <div class="text">NEWS TRENDS</div>
                                </div>
                                <div class="rowFluid">
                                    <div class="news_center_content">
                                        <div class="span4 col-sm-12 wow fadeInDown" data-wow-delay="1.2s">
                                            <div class="news_center_list">
                                                <div class="news_center_list_img"> <img src="__IMG__/034.jpg" alt="云平台动态" /> </div>
                                                <div class="news_center_list_title">平台动态</div>
                                                <ul>
                                                    {volist name="dynamic_list" id="item" key="k"}
                                                    <li class="span12"> <a href="{$item.url}" class="span8" title="{$item.title}"><i class="fa fa-angle-right"></i>{$item.title} </a>
                                                        <div style="font-size: 12px; color: #ccc; float: right; margin-top: 3px;">{$item.create_at|date="Y-m-d",###}</div>
                                                    </li>
                                                    {/volist}

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="span4 col-sm-12 wow fadeInUp" data-wow-delay="0.7s">
                                            <div class="news_center_list">
                                                <div class="news_center_list_img"> <img src="__IMG__/035.jpg" /> </div>
                                                <div class="news_center_list_title">帮助中心</div>
                                                <ul>
                                                    {volist name="help_list" id="item" key="k"}
                                                    <li class="span12"> <a href="{$item.url}" class="span8" title="{$item.title}"><i class="fa fa-angle-right"></i>{$item.title} </a>
                                                        <div style="font-size: 12px; color: #ccc; float: right; margin-top: 3px;">{$item.create_at|date="Y-m-d",###}</div>
                                                    </li>
                                                    {/volist}

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="span4 col-sm-12 wow fadeInDown" data-wow-delay="1.3s">
                                            <div class="news_center_list">
                                                <div class="news_center_list_img"> <img src="__IMG__/036.jpg" /> </div>
                                                <div class="news_center_list_title">行业资讯</div>
                                                <ul>
                                                    {volist name="consult_list" id="item" key="k"}
                                                    <li class="span12"> <a href="{$item.url}" class="span8" title="{$item.title}"><i class="fa fa-angle-right"></i>{$item.title} </a>
                                                        <div style="font-size: 12px; color: #ccc; float: right; margin-top: 3px;">{$item.create_at|date="Y-m-d",###}</div>
                                                    </li>
                                                    {/volist}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="join_in">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="container">
                                <div class="join_in_title wow fadeInUp">选择探长网络网络，<span>让你的企业快速迈向互联网+时代</span></div>
                                <div class="join_in_text wow fadeInLeft">选择对的服务商能让您更快更好的迈进互联网+时代</div>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes " class="all_button join_in_button wow fadeInUp" target="_blank">点击咨询</a> </div>
                        </div>
                    </div>
                </div>
                <div class="partners">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="container">
                                <div class="all_title1 wow fadeInUp">
                                    <h3 class="title">合作伙伴</h3>
                                    <div class="text">COOPERATIVE PARTNER</div>
                                </div>
                                <div class="rowFluid">
                                    <div class="partners_content">
                                        {volist name="partners_list" id="item" key="k"}
                                        <a href="#" class="partners_content_list wow fadeInUp" data-wow-delay="{$item.time}s" target="_blank"> <img src="{$item.icon}" alt="{$item.title}" /> </a>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<script src="__JS__/effects.js"></script>-->
                {include file="public/footer"/}
            </div>
        </div>
    </div>
</div>
</body>
</html>