<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="XTEpjvVjNJ" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>浙江弗达洲电子商务有限公司官网</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    <meta name="author" content=" " />
    <meta name="renderer" content="webkit">
    <!--ico-->
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/responsive.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/sogin.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/index_home.css" />

    <script src="__JS__/jquery-1.11.0.min.js"></script>
    <script src="__JS__/wow.min_1.js"></script>
    <script src="__JS__/owl.carousel.min.js"></script>
    <script src="__JS__/page.js"></script>
</head>
<body>