<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{:sysconf('browser_icon')}" />
  <title>{$key[0]['web_name']}</title>
  <link rel="stylesheet" href="__CSS__/amazeui.css" />
  <link rel="stylesheet" href="__CSS__/common.min.css" />
  <link rel="stylesheet" href="__CSS__/index.min.css" />

  <script src="__JS__/jquery-2.1.0.js" charset="utf-8"></script>
  <script src="__JS__/amazeui.js" charset="utf-8"></script>
  <script src="__JS__/common.js" charset="utf-8"></script>
  <script src="__JS__/scroll.js"></script>
</head>
<body>