{include file="public/header"/}

  <link rel="stylesheet" href="__CSS__/news.min.css" />
  <div class="layout">
    {include file="public/nav"/}
    {include file="public/mnav"/}
  </div>


    <!--===========layout-container================-->
    <!-- <div class="layout-container">
      <div class="page-header">
        <div class="am-container">
          <h1 class="page-header-title">News</h1>
        </div>
      </div>

      <div class="breadcrumb-box">
        <div class="am-container">
          <ol class="am-breadcrumb">
            <li><a href="../index.html">首页</a></li>
            <li class="am-active">News</li>
          </ol>
        </div>
      </div>
    </div> -->

    <div class="section news-section">
      <div class="container">
        <!--news-section left start-->
        <div class="am-u-md-9">
          <div class="article">
            <header class="article--header">
              <h2 class="article--title"><a href="#" rel="">{$article_info.title}</a></h2>
              <ul class="article--meta">
                <li class="article--meta_item"><i class="am-icon-calendar"></i>{$article_info.create_at|date="Y-m-d h:m",###}</li>
              </ul>
            </header>
            <div class="article--content">
              {$article_info.content}
            </div>
          </div>

         
        </div>
        <!--news-section left end-->

        <!--news-section right start-->
        <div class="am-u-md-3">
          <div class="blog_sidebar">
            <div class="widget">
              <h2 class="widget--title"><i class="am-icon-file-text-o"></i>产品信息</h2>
              <ul>

            {volist name="data_list" id="item"}
								<li><a href="/product-{$item.id}">{$item.title}</a></li>
                {/volist}
							</ul>
            </div>
      <!--       <div class="widget">
              <h2 class="widget--title"><i class="am-icon-comments-o"></i>热门动态</h2>
              <ul>
								<li><a href="#">科大讯飞严峻：借力HTML5 推进“智能语音技术”应用普及</a></li>
								<li><a href="#">金山万勇：打破信息孤岛 HTML5优势凸显将成核心</a></li>
								<li><a href="#">阿里吴志华：基于HTML5技术开发Native体验应用</a></li>
							</ul>
            </div>
            <div class="widget">
              <h2 class="widget--title"><i class="am-icon-rss"></i>站内公告</h2>
              <ul>
								<li><a href="#">今天的应用号只是用了HTML技术中无需下载安装、跨平台的功能， 并没有用到HTML开发互联的精髓。 它只是一个...</a><span class="rss-date">November 10, 2015</span></li>
								<li><a href="#">云适配带来了一个全新的“互联网+政务”解决方案，我们可以非常好的利用你现有的IT系统，就是你还是用原来的PC网站一套系统，只要安装一下云适配的产品Xcloud网站跨屏...</a><span class="rss-date">November 10, 2015</span></li>
							</ul>
            </div> -->
          </div>
        </div>
        <!--news-section right end-->
      </div>
    </div>
  </div>


  {include file="public/footer"/}